:root {
  /* Color Styles */

  /* Text Styles */
  --font-family-title-head1: "Poppins";
  --font-size-title-head1: 120pxpx;
  --font-weight-title-head1: 900;
  --font-family-title-3xlarge: "Poppins";
  --font-size-title-3xlarge: 48pxpx;
  --font-weight-title-3xlarge: 900;
  --font-family-title-2xlargle: "Poppins";
  --font-size-title-2xlargle: 40pxpx;
  --font-weight-title-2xlargle: 700;
  --font-family-title-xlarge: "Poppins";
  --font-size-title-xlarge: 32pxpx;
  --font-weight-title-xlarge: 700;
  --font-family-title-large: "Poppins";
  --font-size-title-large: 24pxpx;
  --font-weight-title-large: 600;
  --font-family-title-medium: "Poppins";
  --font-size-title-medium: 18pxpx;
  --font-weight-title-medium: 500;
  --font-family-title-base: "Poppins";
  --font-size-title-base: 12pxpx;
  --font-weight-title-base: 400;
  --font-family-body-large: "DM Sans";
  --font-size-body-large: 20pxpx;
  --font-weight-body-large: 700;
  --font-family-body-medium: "DM Sans";
  --font-size-body-medium: 18pxpx;
  --font-weight-body-medium: 400;
  --font-family-body-base: "DM Sans";
  --font-size-body-base: 16pxpx;
  --font-weight-body-base: 500;
  --font-family-body-caption: "DM Sans";
  --font-size-body-caption: 12pxpx;
  --font-weight-body-caption: 400;

  /* Grid Styles */
  --grid-pad: display: grid; grid-template-columns: repeat(8, 1fr); gap: 16px;
  --grid-phone: display: grid; grid-template-columns: repeat(4, 1fr); gap: 16px;

}